.content-component {
  min-width: 200px;
  font-size: 18px;
  border-radius: 8px;
  text-align: center;
  padding-inline: 20px;
  border: 3px solid #04838f;
}

.title-container {
  color: #6b6b6b;
}

.content {
  font-size: 20px;
  font-weight: bold;
}
