.page-component {
  padding: 24px;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

.content-container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.pie-component {
  display: block;
  width: 400px;
  margin-top: 40px;
}
